* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  background: #000080;
}
.login_wraper {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(30%, -60%);
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 40px;
}
.iptbox {
  width: 358px;
  height: 40px;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.ipt {
  flex: 1;
  height: 100%;
  font-size:18px; 
}
.textArea {
  width: 358px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  color: #409eff;
}
.loginBtn {
  margin-top: 30px;
  width: 358px;
  height: 40px;
}
